<p> Product Information </p>
<p> Title: <%= @product.title %> </p>
<p> Description: <%= @product.description %> </p>
<p> Mobile Number: <%= @product.mobile_number %> </p>
<p> Price: <b><%= @product.price %></b> </p>
